import { Injectable } from '@angular/core';
import { BehaviorSubject } from 'rxjs';

@Injectable({ providedIn: 'root' })
export class LocalStorageService {

  private myPropSubject = new BehaviorSubject<any>(
    this.getFromStorage()
  );

  myProp$ = this.myPropSubject.asObservable();

  setToStorage(value: any) {
    localStorage.setItem('myProp', JSON.stringify(value));
    this.myPropSubject.next(value);
  }

  getFromStorage() {
    const value = localStorage.getItem('myProp');
    return value ? JSON.parse(value) : null;
  }
}


---


constructor(private storageService: LocalStorageService) {}

updateValue() {
  this.storageService.setToStorage({ name: 'Angular' });
}


constructor(private storageService: LocalStorageService) {}

ngOnInit() {
  this.storageService.myProp$.subscribe(value => {
    console.log('Updated value:', value);
  });
}
